body {
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

h1 {
    text-align: center;
    font-size: 5em;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 1.2;

    /* border-bottom: 2px solid #ccc; */
    padding-bottom: 10px;
    background: linear-gradient(to right, #bb3838, #555);
    /* -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.3s ease; */
}

.decryption_form {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.encrypted_text_input {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
}

.decrypt_button {
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s ease;
}

.decrypt_button:hover {
    background-color: #bb3838;
}